@charset "UTF-8";

.chat-button {
    position: fixed;
    bottom: 85px;
    left: 10px;
    width: 50px;
    height: 60px;
    background: linear-gradient(to right, #333, #000); /* 검은색 그라디언트 배경 */
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* 하얀색 상자 그림자 추가 */
    transition: transform 0.3s ease;
}

.chat-button:hover {
    transform: scale(1.1); /* 호버 시 버튼 확대 */
}

.chat-window {
    position: fixed;
    bottom: 90px;
    left: 20px;
    width: 300px;
    background-color: #111; /* 검은색 배경 */
    border: 1px solid #444; /* 어두운 회색 테두리 */
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(255,255,255,0.15); /* 하얀색 그림자 추가 */
}

.chat-header {
    background-color: #222; /* 진한 회색 배경 */
    padding: 10px;
    border-bottom: 1px solid #444; /* 어두운 회색 테두리 */
    font-weight: bold;
    color: white;
}

.chat-content {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    background-color: #000; /* 검은색 배경 */
    color: #ccc; /* 회색 텍스트 */
}

.chat-input {
    padding: 10px;
    border-top: 1px solid #444; /* 어두운 회색 테두리 */
    background-color: #222; /* 진한 회색 배경 */
}

.chat-input input {
    width: calc(100% - 70px);
    padding: 8px;
    border: 1px solid #555; /* 회색 테두리 */
    border-radius: 4px;
    background-color: #333; /* 진한 회색 배경 */
    color: white;
}

.chat-input button {
    width: 60px;
    padding: 8px;
    background-color: #555; /* 회색 배경 */
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #777; /* 호버 시 밝은 회색 배경 */
}
