/* ======================================================================== */
/* style.css 파일 내용 */
.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.food-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
}


/* ======================================================================== */
/* 모바일에서 2개씩 정렬 */
@media only screen and (max-width: 768px) {
    .openModalBtn {
        width: calc(50% - 10px); /* 모바일 화면에서는 가로 공간의 반을 차지하도록 설정하고 간격을 고려해 계산합니다. */
        display: inline-block; /* 인라인 블록 요소로 설정하여 자동으로 정렬됩니다. */
        box-sizing: border-box; /* 요소의 너비에 border와 padding 값을 포함시킵니다. */
        padding: 0 10px; /* 좌우 간격을 줍니다. */
        margin-bottom: 10px; /* 아래쪽으로 10px의 마진을 추가하여 각 버튼 사이에 간격을 만듭니다. */
    }
}
/* 태블릿 이상에서 3개씩 정렬 */
@media only screen and (min-width: 769px) {
    .openModalBtn {
        width: calc(33.33% - 10px); /* 가로 공간의 1/3을 차지하도록 설정하고 간격을 고려해 계산합니다. */
        display: inline-block; /* 인라인 블록 요소로 설정하여 자동으로 정렬됩니다. */
        box-sizing: border-box; /* 요소의 너비에 border와 padding 값을 포함시킵니다. */
        padding: 0 10px; /* 좌우 간격을 줍니다. */
        margin-bottom: 10px; /* 아래쪽으로 10px의 마진을 추가하여 각 버튼 사이에 간격을 만듭니다. */
    }
}

/* ==================================================================================================  */
/* 주변 여백을 제거 */ 
@media only screen and (max-width: 768px) {
    .openModalBtn {
    margin: 0; /* 외부 여백을 0으로 설정합니다. */
    padding: 0; /* 내부 여백을 0으로 설정합니다. */
    border: 0; /* 테두리를 없앱니다. */
    vertical-align: baseline; /* 세로 정렬을 기본 베이스라인으로 설정합니다 */
    background: transparent; /* 배경을 투명으로 설정 */
    text-decoration: none; /* 텍스트에 밑줄을 없앱니다 */
    display: inline-block; /* 요소를 인라인 블록으로 설정하여 다른 인라인 요소와 함께 사용될 때 여백 및 크기를 적용할 수 있도록 합니다. */
    }
}

@media only screen and (min-width: 769px) {
    .openModalBtn {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    display: inline-block;
    }
}

.item_list {
    text-align: center;
    margin: 20px 0;
    min-height: 180px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 0 10px;
    width: 50%;
}

/* 메뉴판 이미지 크기를 조절 */
.openModalBtn img {
    width: auto; /* 이미지의 너비를 100px로 설정합니다. */
    max-width: 90%;
    height: auto; /* 이미지의 높이를 100px로 설정합니다. */
    max-height: 90%;
}

/* 닫기 버튼 스타일 */
.closeBtn {
    color: #aaaaaa;
    float: right; /* 오른쪽 상단에 위치 */
    font-size: 28px; /* 크기 조정 */
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: #000; /* 마우스 오버 시 색상 변경 */
    text-decoration: none;
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

.item_tit h3 {
    color: #0E0E0E;
    font-size: 14px;
    font-weight: 1000;
}

/* ======================================================================== */
/* 사용설명서 이미지 파일 CSS */
.info {
    text-align: center; /* 내용을 수평 중앙 정렬합니다. */
}

.info h1 {
    margin-top: 0; /* 위쪽 마진을 제거하여 페이지 맨 위로 이동합니다. */
    padding-top: 30px !important;  /* 페이지 맨 위와 조금 떨어지게 패딩을 추가합니다. */	
}

.info img {
    display: block; /* 이미지를 블록 요소로 만들어 줄 바꿈이 생기게 합니다. */
    margin: 20px auto; /* 이미지를 수평 중앙에 위치시킵니다. */
    max-width: 100%; /* 이미지의 최대 너비를 설정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 조정합니다. */
    width: 375px; /* iPhone 12 Pro의 너비에 맞추어 이미지의 너비를 설정합니다. */
}
/* ======================================================================== */

/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8; /* 스크린샷의 배경색에 맞게 설정 */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* 상단 그림자 효과 */
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333; /* 스크린샷의 텍스트 색상에 맞게 설정 */
}

.footer-icon {
    width: 24px; /* 아이콘 크기 설정 */
    height: auto; /* 비율 유지 */
    margin-bottom: 4px; /* 아이콘과 텍스트 사이 간격 */
}
/* ======================================================================== */

/* 하단 컨텐츠 영역 스타일 */
/* 바닥글에 직전에 나타나는 주문 요약 섹션 */
.order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white; /* 배경색 */
}

.order-summary div, 
.order-summary p {
    margin: 0; /* 기본 마진 제거 */
    padding: 0 10px; /* 내부 패딩 */
}
/* 수량과 금액 정보를 포함하는 섹션 */
    .order-info {
        display: table;
        width: 100%;
        padding: 8px 0;
    }
    .order-info p {
        display: table-row;
    }
    .order-info p span {
        display: table-cell;
        padding: 0 10px;
    }
    
 .order-info {
    text-align: right; /* 텍스트 중앙 정렬 */
} 

.order-quantity {
    border-bottom: 1px solid #000; /* 밑줄 스타일 */
    padding-bottom: 3px; /* 밑줄과 텍스트 사이의 여백 */
    
}

.order-amount {
	 border-bottom: 1px solid #000; /* 밑줄 스타일 */
    padding-bottom: 3px; /* 밑줄과 텍스트 사이의 여백 */
}

.order-button {
	display: inline-block;
	width: 40%;
	min-height: 40%;
	height: 60px;
	line-height: 60px;
	vertical-align: bottom;
	text-decoration: none; /* 링크의 밑줄 제거 */
    background-color: #000; /* 버튼 배경색: 검정 */
    color: #fff; /* 버튼 텍스트 색상: 흰색 */
    cursor: pointer; /* 커서 스타일: 포인터 */
    border: none; /* 테두리 제거 */
}

.footer2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 70px; /* 화면 하단에 위치 */
    background-color: #333; /* 푸터 배경색 */
    color: black; /* 푸터 텍스트 색상 */
    /*padding: 15px 0; /* 푸터 내부 여백 */
    z-index: 10; /* 필요에 따라 z-index 조정 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
/* ======================================================================== */


/* 헤더 고유 스타일 */
/* 메인 헤더: 메뉴판 제목 스타일 */
.main-header {
    position: fixed; /* 고정 위치 */
    top: 0; /* 상단에서 0px의 위치 */
    left: 0; /* 왼쪽에서 0px의 위치 */
    width: 100%; /* 전체 너비 */
    background-color: #f8f8f8; /* 배경 색상 */
    color: #333; /* 글자 색상 */
    text-align: center; /* 가운데 정렬 */
    padding: 10px 0; /* 상단과 하단의 패딩 */
    z-index: 999; /* 네비게이션 바 뒤에 나타나도록 z-index 설정 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 하단 그림자 효과 */
  }
  
.main-header hr {
    border: 0; /* 기본 테두리 제거 */
    height: 1px; /* 높이 설정 */
    background-color: #ccc; /* 배경 색상으로 테두리 색상 설정 */
    margin-top: 0px; /* 위쪽 마진 */
}

/* 상단 네비게이션 바 스타일 */
.header-nav {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    background-color: #333; /* 배경 색상 */
    color: white; /* 글자 색상 */
    padding: 10px 0; /* 상단과 하단의 패딩 */
    position: fixed; /* 고정 위치 */
    top: 80px; /* `main-header` 높이에 맞춰 조정 */
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-nav .nav-item {
    color: white;
    text-decoration: none;
    padding: 0 20px; /* 좌우 패딩 */
}

/* 나머지 콘텐츠가 네비게이션 바 아래에 올 수 있도록 충분한 상단 패딩을 추가합니다. */
body {
    padding-top: 120px; /* `main-header`와 `.header-nav` 높이의 합에 맞춰 조정*/
}
@media (min-width: 768px) {
    .header-nav .header-nav-item:not(:first-child):before {
        content: '|';
        margin-right: 20px;
        color: #ccc;
    }
}
/* ======================================================================== */
/* 결제 페이지 css */
.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.title, .subtitle {
  text-align: center;
}

.order-details {
  border: 1px solid #e0e0e0;
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
}

.order-header, .order-item, .total-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.total-amount {
  font-weight: bold;
}

.buttons button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  color: white;
  background: black;
  cursor: pointer;
}

.buttons .outline {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.buttons .black {
  background: black;
}
/* ======================================================================== */
/* 장바구니 CSS */
.menu-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 250px; /* 카드의 너비를 설정합니다. */
  margin: auto; /* 카드를 페이지 중앙에 배치합니다. */
}

.title {
  text-align: center;
  margin-top: 0;
}

.subtitle {
  text-align: center;
  color: #555;
  margin-bottom: 20px; /* 서브타이틀과 메뉴 아이템 사이의 여백 */
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center; /* 가운데 정렬 */
  margin-bottom: 10px; /* 메뉴 아이템 간의 여백 */
}

.menu-item img {
  width: 50px; /* 이미지의 크기를 설정합니다. */
  height: 50px; /* 이미지의 크기를 설정합니다. */
  margin-left: 10px; /* 이미지와 텍스트 사이의 여백을 설정합니다. */
  border-radius: 5px; /* 이미지의 모서리를 둥글게 처리합니다. */
}

.menu-description h3 {
  margin: 0;
  font-size: 1em; /* 헤드라인 텍스트의 크기를 설정합니다. */
}

.menu-description p {
  margin: 0;
  color: #555;
}

/* ======================================================================== */

/* 상단 메뉴 슬라이드 애니메이셔 */